<form action="POST" action = "">
    <fieldset class="form-group">
        <div class="form-group">
            {{ form2.question.label(class="form-control-label") }}
            {% if form2.question.errors %}
                {{ form2.question(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form2.question.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form2.question(class="form-control form-control-lg") }}
            {% endif %}          
        </div>
        
        <div class="form-group">
            {{ form2.answer.label(class="form-control-label") }}
            {% if form2.answer.errors %}
                {{ form2.answer(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form2.answer.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form2.answer(class="form-control form-control-lg") }}
            {% endif %}          
        </div>
        
        <div class="form-group">
            {{ form2.choices1.label(class="form-control-label") }}
            {% if form2.choices1.errors %}
                {{ form2.choices1(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form2.choices1.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form2.choices1(class="form-control form-control-lg") }}
            {% endif %}          
        </div>
        
        <div class="form-group">
            {{ form2.choices2.label(class="form-control-label") }}
            {% if form2.choices2.errors %}
                {{ form2.choices2(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form2.choices2.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form2.choices2(class="form-control form-control-lg") }}
            {% endif %}          
        </div>
        
        <div class="form-group">
            {{ form2.choices3.label(class="form-control-label") }}
            {% if form2.choices3.errors %}
                {{ form2.choices3(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form2.choices3.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form2.choices3(class="form-control form-control-lg") }}
            {% endif %}          
        </div>
        
        <div class="form-group">
            {{ form2.choices4.label(class="form-control-label") }}
            {% if form2.choices4.errors %}
                {{ form2.choices4(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form2.choices4.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form2.choices4(class="form-control form-control-lg") }}
            {% endif %}          
        </div>
    </fieldset>
</form>
