{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <h1>Admin Options</h1>
    <article class="content-section">
          <h2 class="article-title"><a class="article-title" href="{{ url_for('main.home') }}">Show Quizzes</a></h2>
          <p class="article-content">Show all the available Quizzes</p>
    </article>
    <article class="content-section">
        <h2 class="article-title"><a class="article-title" href="{{ url_for('admin.result_list') }}">Show Quiz Results</a></h2>
        <p class="article-content">Check the previous Quizzes</p>
    </article>
</div>
{% endblock content %}
