{% extends "layout.html" %}
{% block content %}
<div class = "content-section">
    <h1> Collaborative Filtering Tester</h1><br/>
    {% for i in taken.items %}
        <div class = "content-section"><h4>User {{ i.user_id }} has finished taking the test</h4></div>
    {% endfor %}
    <br/><br/>
    <form method="POST" action ="">

        <div class="align-items-center text-center">
           <input type="submit" class = "btn btn-danger"></div>

        </div>
    </form>
</div>

{% endblock content %}
