{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <h1>{{ quizzes.title }}</h1>
    <p>{{ quizzes.description }}</p>

    {% for question in questions.items %}
    <article class="content-section">
        <div class="py-2 h5"><b>{{question.item_desc}}</b></div>
        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">

            <form method="POST" action = "">
                <label class="options">{{question.choice_1}}
                <input type="radio" name="choices" value = 1 > 
                <span class="checkmark"></span> 
                </label>
    
                <label class="options">{{question.choice_2}}
                <input type="radio" name="choices" value = 2> 
                <span class="checkmark"></span>
                </label>
                
                <label class="options">{{question.choice_3}}
                <input type="radio" name="choices" value = 3>
                <span class="checkmark"></span> 
                </label> 
    
                <label class="options">{{question.choice_4}}
                <input type="radio" name="choices" value = 4>
                <span class="checkmark"></span> 
                </label>
                </div>
            </form>
    
    </article>
    {% endfor %}


    <div class="d-flex align-items-center pt-3">
        <div class="ml-auto mr-sm-5"> <button class="btn btn-danger">Submit</button> </div>
    </div>
</div>
{% endblock content %}
